<% content_for :head do %>
  <%= javascript_include_tag "admin/admin" %>
<% end %>

<% content_for :header do %>
  <%= link_to content_tag(:i, nil, class: 'icon-angle-left'), root_path, class: 'button left' %>
<% end %>

<div class="admin">
  <div class="site-settings panel">
    <h3>Site settings</h3>
    <%= form_for @settings, :url => admin_update_path, :method => :post do |f| %>
      <div class="form-group">
        <%= f.label :max_rooms, "Max Number of Rooms", :class => "control-label" %>
        <%= f.number_field :max_rooms, :class => "input-mini form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :public_site, :class => "control-label switch-label" do %>
          <%= f.check_box :public_site, :class => "switch" %> Public site
          <span class="rendered-switch"></span>
        <% end %>
      </div>
      <p>
        <%= f.submit :class => "btn btn-success" %>
      </p>
    <% end %>
  </div>
  <div class="waiting-for-approval-users">
    <h3>Users waiting for approval</h3>
    <ul class="users">
      <%= render(:collection => @waiting_for_approval_users, :as => :user, :partial => "user") ||\
        content_tag(:li, "There are no users needing approval right now. Invite others to join Kandan!", class: 'no-users') %>
    </ul>
  </div>
  <div class="approved-users">
    <h3>All users</h3>
    <ul class="users">
      <%= render(:collection => @approved_users, :as => :user, :partial => "user") ||\
        content_tag(:li, "There are no users. Invite others to join Kandan!", class: 'no-users') %>
    </ul>
  </div>
</div>
